<div class="bg-contact-<%= I18n.locale.to_s %>">

	<div id="wrapper">
		<div id="header"></div>
		
		<div id="center">
			<div class="home-contact">
					<%= link_to image_tag("home-#{I18n.locale.to_s}.png", alt: "Home"), root_path %>
			</div>
		</div>
		
	</div>
	
</div>